body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import url('./App.css');
@import url('./Home.css');
@import url('./popup.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');
